[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MSUthemes"]
	path = MSUthemes
	url = https://github.com/emilioxavier/msuthemes
